body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.listContainer {
    max-width: 90rem;
    text-align: center;
    margin: 0 auto;
}

.detail-item-container {
    display: grid !important;
    grid-template-rows: auto auto;
    align-content: space-around;
}

.bold {
    font-weight: 500;
}

img {
    width: 100%;
}

.hiddenBtn {
    background: none;
    border: none;
}
